In [1]:
import pyarrow as pa

pa.__version__

'7.0.0'

In [2]:
from pyarrow.csv import read_csv

nyc = read_csv("/data/nyc-taxi/yellow_tripdata_2015-01.csv")
len(nyc)

12748986

In [3]:
nyc.schema

VendorID: int64
tpep_pickup_datetime: timestamp[s]
tpep_dropoff_datetime: timestamp[s]
passenger_count: int64
trip_distance: double
pickup_longitude: double
pickup_latitude: double
RateCodeID: int64
store_and_fwd_flag: string
dropoff_longitude: double
dropoff_latitude: double
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double

In [4]:
print("RSS (RAM): {}MB".format(pa.total_allocated_bytes() >> 20))

RSS (RAM): 1812MB

In [5]:
nyc["trip_distance"]

<pyarrow.lib.ChunkedArray object at 0x7fdc0403e5e0>
[
  [
    1.59,
    3.3,
    1.8,
    0.5,
    3,
    9,
    2.2,
    0.8,
    18.2,
    0.9,
    ...
    17.67,
    0.81,
    1.84,
    6.77,
    2.03,
    1.6,
    1.39,
    9.6,
    1.73,
    6
  ],
  [
    1.49,
    1.53,
    0.8,
    4,
    0.8,
    2.1,
    1.6,
    0.8,
    0.7,
    3.3,
    ...
    1.96,
    0.47,
    0.94,
    3.75,
    1.34,
    9.35,
    1.31,
    1.67,
    2.22,
    0.48
  ],
  [
    14.39,
    1.29,
    3.11,
    1.38,
    0.92,
    1.27,
    1.37,
    0.98,
    0.99,
    0.84,
    ...
    3.03,
    0.46,
    0.87,
    0.78,
    2.54,
    1.53,
    0.71,
    0.87,
    0.77,
    2.85
  ],
  [
    2.6,
    4.09,
    1.46,
    5.33,
    1.62,
    5.45,
    1.77,
    0.97,
    1.5,
    2.08,
    ...
    2.53,
    0.57,
    2.55,
    2.4,
    7.5,
    3.2,
    1.2,
    1.28,
    0,
    4.6
  ],
  [
    6,
    1.4,
    3.8,
    18.25,
    1.12,
    0.85,
    1.57,
    3.2,
    0.7,
    1.7,
    ...
    0.8,
    2.1,
    1.2,
    0.4,
    1.2,
    2.2,
    2.4,
    0.2,
    1.9,
    1.3
  ],
  [
    2.5,
    6.1,
    1.3,
    2.4,
    3.3,
    1.2,
    0.7,
    1.7,
    0.87,
    2.1,
    ...
    0.8,
    0.4,
    0.8,
    1.2,
    2.3,
    0.7,
    4.4,
    0.5,
    1.8,
    1.2
  ],
  [
    2.1,
    0.6,
    0.9,
    1.4,
    1.7,
    0.7,
    0.8,
    2.2,
    1.8,
    2,
    ...
    2.9,
    4.4,
    4,
    2.7,
    1.3,
    0.6,
    1.3,
    8.4,
    0.7,
    2
  ],
  [
    4.7,
    9.7,
    0.6,
    9,
    7.4,
    3.6,
    1.6,
    2.8,
    3.6,
    2.4,
    ...
    6.1,
    1.4,
    1.1,
    9.13,
    3.25,
    7.6,
    2.55,
    2.93,
    2.59,
    0.36
  ],
  [
    3.34,
    2.4,
    2.86,
    6.26,
    0.7,
    3.27,
    6.95,
    0.69,
    2.61,
    1.2,
    ...
    1.1,
    0.9,
    1.1,
    19,
    1.5,
    1.6,
    2.39,
    2.13,
    1.5,
    9.87
  ],
  [
    0.84,
    1.2,
    1.35,
    10.2,
    2.2,
    4.4,
    1.4,
    2.5,
    0.5,
    0.8,
    ...
    1.12,
    1.6,
    2.37,
    2.07,
    0.47,
    2.72,
    3.91,
    1.75,
    1.7,
    4.78
  ],
...
  [
    1.2,
    3.82,
    0.63,
    3.67,
    2.54,
    1.13,
    0.94,
    1.36,
    5.83,
    2.89,
    ...
    2.85,
    4.8,
    0.3,
    3.4,
    10.2,
    2.2,
    3.4,
    14.4,
    2.3,
    2.7
  ],
  [
    1.7,
    0.9,
    2.9,
    2.3,
    3.1,
    1.9,
    2.9,
    1.9,
    11.2,
    1,
    ...
    0.83,
    1.16,
    1.13,
    0.5,
    0.41,
    2.08,
    1,
    0.92,
    1.38,
    10.38
  ],
  [
    9.74,
    9.28,
    1.88,
    1.58,
    1.54,
    2.14,
    10.99,
    0.54,
    2.73,
    2.01,
    ...
    2.1,
    1.5,
    2,
    1.49,
    1.7,
    1.75,
    1.56,
    3.5,
    0.7,
    3.7
  ],
  [
    1.9,
    1.25,
    2.04,
    1.34,
    0.9,
    0.64,
    0.7,
    0.5,
    1.5,
    0.7,
    ...
    0.81,
    2.97,
    2.5,
    1.38,
    7.01,
    2.61,
    0.94,
    0,
    2.2,
    1.7
  ],
  [
    1.3,
    1.3,
    0.9,
    3.5,
    1,
    17,
    1.8,
    0.9,
    1.2,
    1.4,
    ...
    0.8,
    2.3,
    2.9,
    2,
    2.8,
    2.6,
    0.5,
    2.1,
    1,
    7.6
  ],
  [
    0.9,
    1.4,
    1.2,
    0.52,
    0.84,
    1.9,
    1.2,
    0.92,
    11.37,
    2.19,
    ...
    0.73,
    2.87,
    0.76,
    1.96,
    1.75,
    0.93,
    2.54,
    4.14,
    4.31,
    2.98
  ],
  [
    3.78,
    3.68,
    8.75,
    1.74,
    2.47,
    0.86,
    1.11,
    1.57,
    1.36,
    1.62,
    ...
    5.69,
    3.32,
    0.75,
    4.5,
    1.1,
    1,
    4.5,
    2,
    3.1,
    0.8
  ],
  [
    3.6,
    10,
    2.4,
    4.6,
    1.3,
    4.5,
    3.2,
    1.9,
    3.3,
    0.7,
    ...
    8.8,
    1.54,
    0.68,
    1.27,
    1.33,
    1.08,
    0.84,
    2.56,
    0.86,
    1.27
  ],
  [
    0.45,
    1.49,
    0.71,
    0.38,
    3.14,
    3.27,
    12.24,
    19.55,
    1.49,
    17.22,
    ...
    1.61,
    1.64,
    1.24,
    1.52,
    6.27,
    2.1,
    3.21,
    8.01,
    0.71,
    0.76
  ],
  [
    1.7,
    17.3,
    0.84,
    2.59,
    5.01,
    0.87,
    0.32,
    0.74,
    1.72,
    1.67,
    ...
    1.9,
    4.5,
    1.6,
    2.3,
    2.1,
    1,
    0.8,
    3.4,
    1.3,
    0.7
  ]
]

In [6]:
nyc.select(["trip_distance", "total_amount"])

pyarrow.Table
trip_distance: double
total_amount: double
----
trip_distance: [[1.59,3.3,1.8,0.5,3,9,2.2,0.8,18.2,0.9,...,17.67,0.81,1.84,6.77,2.03,1.6,1.39,9.6,1.73,6],[1.49,1.53,0.8,4,0.8,2.1,1.6,0.8,0.7,3.3,...,1.96,0.47,0.94,3.75,1.34,9.35,1.31,1.67,2.22,0.48],[14.39,1.29,3.11,1.38,0.92,1.27,1.37,0.98,0.99,0.84,...,3.03,0.46,0.87,0.78,2.54,1.53,0.71,0.87,0.77,2.85],[2.6,4.09,1.46,5.33,1.62,5.45,1.77,0.97,1.5,2.08,...,2.53,0.57,2.55,2.4,7.5,3.2,1.2,1.28,0,4.6],[6,1.4,3.8,18.25,1.12,0.85,1.57,3.2,0.7,1.7,...,0.8,2.1,1.2,0.4,1.2,2.2,2.4,0.2,1.9,1.3],[2.5,6.1,1.3,2.4,3.3,1.2,0.7,1.7,0.87,2.1,...,0.8,0.4,0.8,1.2,2.3,0.7,4.4,0.5,1.8,1.2],[2.1,0.6,0.9,1.4,1.7,0.7,0.8,2.2,1.8,2,...,2.9,4.4,4,2.7,1.3,0.6,1.3,8.4,0.7,2],[4.7,9.7,0.6,9,7.4,3.6,1.6,2.8,3.6,2.4,...,6.1,1.4,1.1,9.13,3.25,7.6,2.55,2.93,2.59,0.36],[3.34,2.4,2.86,6.26,0.7,3.27,6.95,0.69,2.61,1.2,...,1.1,0.9,1.1,19,1.5,1.6,2.39,2.13,1.5,9.87],[0.84,1.2,1.35,10.2,2.2,4.4,1.4,2.5,0.5,0.8,...,1.12,1.6,2.37,2.07,0.47,2.72,3.91,1.75,1.7,4.78],...[1.2,3.82,0.63,3.67,2.54,1.13,0.94,1.36,5.83,2.89,...,2.85,4.8,0.3,3.4,10.2,2.2,3.4,14.4,2.3,2.7],[1.7,0.9,2.9,2.3,3.1,1.9,2.9,1.9,11.2,1,...,0.83,1.16,1.13,0.5,0.41,2.08,1,0.92,1.38,10.38],[9.74,9.28,1.88,1.58,1.54,2.14,10.99,0.54,2.73,2.01,...,2.1,1.5,2,1.49,1.7,1.75,1.56,3.5,0.7,3.7],[1.9,1.25,2.04,1.34,0.9,0.64,0.7,0.5,1.5,0.7,...,0.81,2.97,2.5,1.38,7.01,2.61,0.94,0,2.2,1.7],[1.3,1.3,0.9,3.5,1,17,1.8,0.9,1.2,1.4,...,0.8,2.3,2.9,2,2.8,2.6,0.5,2.1,1,7.6],[0.9,1.4,1.2,0.52,0.84,1.9,1.2,0.92,11.37,2.19,...,0.73,2.87,0.76,1.96,1.75,0.93,2.54,4.14,4.31,2.98],[3.78,3.68,8.75,1.74,2.47,0.86,1.11,1.57,1.36,1.62,...,5.69,3.32,0.75,4.5,1.1,1,4.5,2,3.1,0.8],[3.6,10,2.4,4.6,1.3,4.5,3.2,1.9,3.3,0.7,...,8.8,1.54,0.68,1.27,1.33,1.08,0.84,2.56,0.86,1.27],[0.45,1.49,0.71,0.38,3.14,3.27,12.24,19.55,1.49,17.22,...,1.61,1.64,1.24,1.52,6.27,2.1,3.21,8.01,0.71,0.76],[1.7,17.3,0.84,2.59,5.01,0.87,0.32,0.74,1.72,1.67,...,1.9,4.5,1.6,2.3,2.1,1,0.8,3.4,1.3,0.7]]
total_amount: [[17.05,17.8,10.8,4.8,16.3,40.33,15.3,9.96,58.13,9.35,...,69.76,7.25,10.8,23.5,14,12.36,7.3,46.96,9.8,20.3],[16.56,10.8,5.8,15.3,5.8,11.75,10.3,6.3,4.8,17.25,...,12.96,6.2,6.3,17.8,9.96,36.13,8.3,11.2,11.8,5.8],[40.8,10.4,15.36,9.36,9.75,9.3,7.3,6.8,8.76,6.3,...,16.56,5.18,7.56,6.8,16,12.74,5.76,7.25,8.5,11.8],[12.8,18.96,9,36.13,10.4,23.3,12.68,6.3,10.55,10.3,...,16.3,5.3,15.36,14.3,29.63,17.75,9.8,8.3,40.8,18.8],[25.3,9.5,16.5,68.13,8,6.8,8.8,14.75,10.3,8.8,...,6.3,11.8,7.8,5.8,9.8,13.8,12.8,4.8,12.35,10.3],[11.8,20.3,9.35,15.95,15.36,9.96,7.3,11.8,6.3,9.8,...,8.3,5.3,8.3,9.3,13.8,7.56,25,7.3,11.8,11],[14.3,9.3,8.8,9.8,12.35,6.3,7.55,17.15,10.3,11.15,...,18.35,21.35,21.3,15.35,11.3,7.3,11.15,30.3,8.5,9.8],[19.8,43.91,6.8,44.13,32.75,20.15,10.8,17,13.8,15.96,...,30.35,9.35,7.3,33.8,13.3,32.25,10.8,13.3,14,4.8],[17,12.8,15.36,24.3,6.8,17.16,34.36,6.8,14,9,...,9.35,7.8,11.8,58.13,12.05,12.3,13.4,12.8,9.1,35.13],[6.3,7.3,8.6,34.63,11.3,27.25,10.3,16.55,6.3,7.3,...,7.4,9.8,13.4,12.05,4.8,13.92,16.8,11,9.8,15.8],...[12.25,17.8,6.3,16.3,15.8,7.3,8.84,7.3,18.8,12.3,...,12.3,21.35,6.2,19.12,63.13,14.15,20.15,52.56,15.95,16.8],[7.8,5.8,17.3,15.35,20.75,11.3,15.8,11.8,38,7.8,...,6.3,8.6,7.3,7.25,5.8,12.68,10.18,8.3,11,38.63],[36.63,43.91,11.8,9.8,9.3,16.42,39.63,6.3,21.8,13.8,...,10.8,10.3,10.3,10.4,12.2,11.3,12.8,15.8,9.3,19.3],[12.3,10.3,11.8,9.55,7.8,9.2,7.55,8.12,10.3,6.8,...,8.6,20.16,21.8,16.4,26.8,18.96,9.12,3.3,12.95,13.8],[9.96,14.3,14.75,17.8,8.75,72.66,12.3,5.8,10.8,3.3,...,6.3,12.96,15.95,13.5,14.8,13.8,6.35,12.95,8.16,26.8],[6.95,10.8,8.3,5.3,7.3,11.15,8.75,8,43.3,14.6,...,5.8,15.2,8,9.8,10.8,7.8,14,19.65,17,12.8],[15.3,16.8,35.6,12.2,11.8,8,9.3,9.8,10.4,11.3,...,23.3,22.36,7,24.96,7.8,10,20.15,10.3,15.3,8.15],[14.3,31.8,13.55,20.8,9.3,24.44,16,11.3,18.55,6.8,...,9.63,8.3,7.56,9.96,8.3,7.8,6.8,13.8,7.56,9.8],[4.3,9.8,7.25,5.38,16.56,16.8,52.25,58.13,11.16,69.76,...,7.8,9.8,11,14.8,25.3,13.3,17.68,33.3,6.3,5.3],[13.4,52.8,9,20.6,25.4,8,4.3,5.8,8.8,15.8,...,11.8,23.15,11.6,17.3,15.3,7.55,8.8,14.3,13.55,6.3]]

In [7]:
nyc.slice(100, 3).to_pandas()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-26 12:41:09,2015-01-26 12:45:08,1,0.5,-73.982811,40.745255,1,N,-73.980042,40.752075,2,4.5,0.0,0.5,0.00,0.0,0.3,5.30
1,1,2015-01-26 12:41:09,2015-01-26 12:45:39,1,0.8,-73.991493,40.738937,1,N,-73.988594,40.730511,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
2,1,2015-01-26 12:41:10,2015-01-26 13:05:04,1,1.1,-73.982391,40.757408,1,N,-73.968620,40.761520,1,14.5,0.0,0.5,3.05,0.0,0.3,18.35

In [8]:
nyc.take([100, 101, 102]).to_pandas()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-26 12:41:09,2015-01-26 12:45:08,1,0.5,-73.982811,40.745255,1,N,-73.980042,40.752075,2,4.5,0.0,0.5,0.00,0.0,0.3,5.30
1,1,2015-01-26 12:41:09,2015-01-26 12:45:39,1,0.8,-73.991493,40.738937,1,N,-73.988594,40.730511,2,5.0,0.0,0.5,0.00,0.0,0.3,5.80
2,1,2015-01-26 12:41:10,2015-01-26 13:05:04,1,1.1,-73.982391,40.757408,1,N,-73.968620,40.761520,1,14.5,0.0,0.5,3.05,0.0,0.3,18.35

In [9]:
# nyc["trip_distance"] = 0  # Raises TypeError!

In [10]:
pa.concat_tables(
    [nyc.slice(1_000, 3), nyc.slice(2_000, 3)]
).to_pandas()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2015-01-07 20:40:05,2015-01-07 20:45:40,1,1.10,-73.995155,40.716038,1,N,-74.010208,40.711433,3,6.0,0.5,0.5,0.00,0.0,0.3,7.30
1,1,2015-01-07 20:40:05,2015-01-07 20:43:41,1,0.70,-73.960281,40.766186,1,N,-73.961510,40.757671,2,4.5,0.5,0.5,0.00,0.0,0.3,5.80
2,1,2015-01-07 20:40:05,2015-01-07 20:53:31,1,1.70,-73.967667,40.758720,1,N,-73.991623,40.766293,1,10.0,0.5,0.5,2.82,0.0,0.3,14.12
3,2,2015-01-30 19:50:06,2015-01-30 19:57:28,1,1.69,-73.996536,40.737839,1,N,-73.976906,40.747349,1,7.5,1.0,0.5,1.86,0.0,0.3,11.16
4,1,2015-01-21 07:10:15,2015-01-21 07:17:05,1,1.20,-73.975159,40.761135,1,N,-73.973289,40.747871,2,6.5,0.0,0.5,0.00,0.0,0.3,7.30
5,1,2015-01-21 07:10:16,2015-01-21 07:19:41,1,2.20,-73.947067,40.771641,1,N,-73.973579,40.759556,1,9.5,0.0,0.5,2.05,0.0,0.3,12.35